<% provide(:title, "Help") %>
  <h1>Tradingとは？</h1>
  <div class="help-content">
    <h3>ユーザ同士のスニーカーの交換をサポートします！</h3>
    <div class="col-md-4">
      <h2>探す</h2>
      <h3>欲しいスニーカーを出品している方がいるはずです。</h3>
      <h3>まずは条件を指定して検索してみましょう！</h3>
    </div>
    <div class="col-md-4">
      <h2>交渉する</h2>
      <h3>出品している方を見つけたら交渉してみましょう！</h3>
      <h3>商品にコメントを送ることができます。</h3>
      <h3>住んでいる地域が近いと交換が成立しやすいでしょう。</h3>
    </div>
    <div class="col-md-4">
      <h2>交換する</h2>
      <h3>DMでやりとりして待ち合わせ場所を決めましょう！</h3>
      <h3>あとはスニーカーを交換するだけです！</h3>
    </div>
    <div class="col-md-6 col-md-offset-3"></div>