<% provide(:title, "Help") %>
<div class="col-md-6 col-md-offset-3">
  <h1>Tradingとは？</h1>
  <div class="help-content">
    <p>ユーザのスニーカー交換をサポートするアプリです！</p>
    <p>サイズが合わない・色に飽きてしまったスニーカーはお持ちですか？</p>
    <p>あなたのスニーカーを欲しがっている人</p>
    <p>あなたが欲しいスニーカーを出品している人</p>
    <p>探して交渉してみましょう！</p>
  </div>
</div>
