<ul>
  <li>
  <% user = User.find(comment.user_id) %>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user_path(User.find(comment.user_id)) %><br>
  <%= comment.content %><br>
  <span>
    <%= comment.created_at.strftime("%Y年%m月%d日 %H:%M") %>
  </span>
  </li>
<ul>
