<ul>
  <li>
    <% @entries = room.entries %>
      <% @entries.each do |e| %>
        <% unless current_user == e.user %>
          <% if e.user.image.attached? %>
            <%= link_to image_tag(e.user.image.variant(gravity: :center, resize:'50x50^', crop:"50x50+0+0").processed), user_path(e.user) %>
          <% else %>
            <%= link_to image_tag('profile.png'), item_path(e.user) %>
          <% end %>
          <strong>from<%= link_to e.user.name, room_path(room) %>さん</strong><br>
        <% end %>
      <% end %>
      <span><%= room.created_at.strftime("%Y年%m月%d日 %H:%M") %></span>
    </li>
  </ul>