<li id="item-<%= item.id %>">
  <% if item.image.attached? %>
    <%= link_to image_tag(item.image.variant(gravity: :center, resize: '180x180^', crop: '180x180+0+0').processed), item_path(item) %>
    <p><%= item.name %></p>
  <% else %>
    <%= link_to image_tag('sample1.jpeg'), item_path(item) %>
  <% end %>
</li>