<% provide(:title, '検索結果') %>

  <%= render 'shared/search' %>
  <%= render 'sidebar' %>
  <div class="col-md-9">
    <h2>検索結果</h2>
    <% if @items == [] %>
      検索条件に当てはまる商品がありません。
    <% else %>
      <ul class="itemindex">
        <%= render @items %>
      </ul>
    <% end %>
  </div>