@import "bootstrap-sprockets";
@import "bootstrap";

/* 全てのページに適用されるCSSルール */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* タイポグラフィの変更 */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
  border-bottom: 1px solid $gray-light;
}

h3{
  font-size: 1.0em;
  text-align: center;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ヘッダーのCSSルール */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.background{
  height:200px;
  /* 画像ファイルの指定 */
  background-image: url(header.jpg);
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}

/* フッターのCSSルール */

.push {
  height: 250px;
}

footer {

  padding-top:15px;
  bottom: 0;
  p {
    text-align: center;
    color: white;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

help-content {
  margin: 10px auto;
  p{
    font-size: 1.0em;
    color: $gray-light;
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.search {
  margin-top: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid $gray-lighter;
}

.sidebar {
  .prefecture{
    margin-bottom:10px;
    font-size: 0.9em;
  }
  .btn{
    margin-top: 50px;
  }
}

.btn {
  margin: 10px 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

table {
  border-collapse: collapse;
  margin-top: 30px;
}

table td {
  border: solid 1px black;
  padding: 3px 10px;
  background: $gray-lighter;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* 商品一覧のCSS */

.itemindex {
  list-style: none;
  margin: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid $gray-light;
  li {
    // ボックスに要素が収まらない場合の指定,UAに合わせる
    overflow: auto;
    // インラインブロック要素にする
    display: inline-block;
    position:relative;
    margin: 5px;
    p{
      position: absolute;
      width:100%;
      top: 0;
      left: 0;
      font-size: 0.9em;
      color: rgba(255, 255, 255, 0.9);
      background: rgba(80, 80, 80, 0.8);
    }
  }
}

/* コメントのCSS */

.comment {
  list-style: none;
  margin: 0;
  p{
    font-weight: bold;
  }
  ul {
    padding: 10px 0;
  }
  li {
    // ボックスにコメントが収まらない場合の指定,UAに合わせる
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-light;
  }
  span {
    color: $gray-light;
  }
}

/* items */

.items {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    // margin-left: 60px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}
